.ant-tabs-content {
  height: 100% !important
}

.ant-tabs-tabpane {
  height: 100% !important
}

.ant-spin-nested-loading {
  height: inherit !important
}

.ant-spin-container {
  height: inherit !important
}